<div class="row">
  	<div class="col-sm-6 col-md-4" ng-repeat="sock in socks | orderBy:'-price'">
    	<div class="thumbnail">
      		<img ng-src="images/{{sock.img}}" alt="{{sock.name}}">
      		<div class="caption">
      			<h2>{{sock.price | currency}}</h2>
        		<h3>{{sock.color}}</h3>
        		<p>
        		<a href="" class="btn btn-primary" role="button">Add to <i class="glyphicon glyphicon-shopping-cart"></i></a> 
        		<a href="" class="btn btn-default" role="button" ng-class="{active:tab === 1}" ng-click="tab = 1">Description</a>
        		<a href="" class="btn btn-default" role="button" ng-class="{active:tab === 2}" ng-click="tab = 2">Reviews</a>
        		</p>
        		<div class="panel panel-default" ng-show="tab === 1">
					<div class="panel-body">
				    	{{sock.description}}
				  	</div>
				</div>
				<div class="panel-body" ng-show="tab === 2">
				  	<div class="list-group" ng-repeat="review in sock.reviews">
						<i value="{{$index}}" class="glyphicon" ng-class="{'glyphicon-star-empty': review.stars<$index, 'glyphicon-star': review.stars>=$index}" ng-repeat="i in [1,2,3,4,5]"></i>
						<h4 class="list-group-item-heading">Author: {{review.author}}</h4>
						<p class="list-group-item-text">{{review.text}}</p>
				  	</div>
					<form name="reviewForm">
						<i value="{{$index}}" class="glyphicon" ng-class="{'glyphicon-star-empty': actualStars[$parent.$index]<$index || !actualStars[$parent.$index], 'glyphicon-star': actualStars[$parent.$index]>=$index}" ng-click="setStars($parent.$index, $index)" ng-repeat="i in [1,2,3,4,5]"></i>
						<textarea class="form-control" ng-model="form.comment"></textarea>
						<input placeholder="name" class="form-control" ng-model="form.author"></input>
						<button type="submit" class="btn btn-primary" ng-click="saveComment();">Send</button>
					</form>
				</div>
      		</div>
    	</div>
    </div>
</div>